<!-- Doctor Login -->
<form>
    <input name="doctor username" type="text" placeholder="Enter your username" required>
    <input name="doctor password" type="password" placeholder="Enter your password" required>
    <input type="submit" value="Submit">
</form>

<!-- Doctor create Account -->
<form>
    <input name="doctor username" type="text" placeholder="Enter your username" required>
    <input name="doctor password" type="password" placeholder="Enter your password" required>
    <input name="doctor email" type="email" placeholder="Enter your email" required>
    <input name="doctor name" type="text" placeholder="Enter your name" required>
    <input type="submit" value="Submit">
</form>

<!-- Patient Login -->
<form>
    <input name="patient username" type="text" placeholder="Enter your username" required>
    <input name="patient password" type="password" placeholder="Enter your password" required>
    <input type="submit" value="Submit">
</form>

<!-- Patient create Account -->
<form>
    <input name="patient username" type="text" placeholder="Enter your username" required>
    <input name="patient password" type="password" placeholder="Enter your password" required>
    <input name="patient email" type="email" placeholder="Enter your email" required>
    <input name="patient name" type="text" placeholder="Enter your name" required>
    <input type="submit" value="Submit">
</form>

<!-- Doctor enter drug -->
 <form>
    <input name="patient id" type="text" placeholder="Enter the patients id" required>
    <input name="drug name" type="text" placeholder="Enter drug name" required>
    <input name="prescription notes" type="text" placeholder="Enter drug description notes" required>
    <input name="dosage" type="text" placeholder="Enter drug side effects" required>
    <input name="time interval" type="text" placeholder="Enter drug dosage" required>
    <input name="warnings" type="text" placeholder="Enter drug warnings" required>
    <input type="submit" value="Submit">
 </form>

 <!-- Patient enter OTC drug -->
 <form>
    <input name="drug name" type="text" placeholder="Enter drug name" required>
    <input name="dosage" type="text" placeholder="Enter drug side effects" required>
    <input name="time interval" type="text" placeholder="Enter drug dosage" required>
    <input type="submit" value="Submit">
 </form>